.container{
    display: flex;
}

nav{
    position : fixed;
    display : flex;
    justify-content : space-around;
    width: 40%;
    left : 40%;

}

nav a:hover {
    color: #f1f1f1;
  }


.leftSide {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 50px; /* Stay at the top */
    left: 0;
    padding-top: 20px;
    border:1px red solid;
  }


  main {
      width:70%;
      margin-left:30%;
      margin-top : 100px;
  }